include mixins

doctype html
html(lang="en")
  head
    title
      block title
        | Teresa HIMS
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i")
    link(rel="stylesheet", href=`${staticPrefix}css/vendor.css`)
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet", href=`${staticPrefix}css/teresa.css`)
  body
    block body
      div#wrapper-top
        nav.navbar.navbar-full.navbar-dark.bg-primary
          a.navbar-brand(href="/")
            | Teresa
          div.nav.navbar-nav.pull-right
            if user
              a.nav-item.nav-link(href="/logout") 
                span.fa.fa-sign-out
                |  Logout
            else
              a.nav-item.nav-link(href="/login") 
                span.fa.fa-user
                |  Login
        div#wrapper-content
          block header
            if user
              +l-section('salmon')
                div
                  a(href="/community") St. Louis City CoC
              div(style="background-image:url('http://www.fillmurray.com/1024/150'); background-size:cover;")
                div.container
                  div.row
                    div.col-md-8
                      h1 {Organization Name}
                      h2 {Organization Mission}
                    div.col-md-4.text-right
                      img(src="http://www.fillmurray.com/150/150")
              +l-section('aquamarine')
                div.row
                  ul.nav.nav-pills
                    li.nav-item
                      a.nav-link(href="/organization") Activity
                    li.nav-item
                      a.nav-link(href="/referral/all") Service
                    li.nav-item
                      a.nav-link.active(href="/user/all") Providers
                    li.nav-item
                      a.nav-link(href="/client/all") Clients
          block content
    div#scripts
      script(src=`${staticPrefix}js/libraries.js`)
      script(src=`${staticPrefix}js/app.js`)
      block scripts
        script.
          Teresa.init()