include mixins

block vars
  - var endpoint = '/'

doctype html
html(lang="en")
  head
    title
      block title
        | Teresa HIMS
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i")
    link(rel="stylesheet", href=`${staticPrefix}css/vendor.css`)
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet", href=`${staticPrefix}css/teresa.css`)
  body
    block body
      div#wrapper-top
        nav.navbar.navbar-full.navbar-dark
          div.container
            a.navbar-brand(href="/")
              img(src=`${staticPrefix}images/logo.png`, style="height:28px;")
            div.nav.navbar-nav.pull-right
              if user
                a.nav-item.btn.btn-secondary(href="/logout") 
                  span.fa.fa-sign-out
                  |  Logout
              else
                a.nav-item.nav-link(href="/login") 
                  span.fa.fa-user
                  |  Login
      div#wrapper-content
        block header
          if user
            div.navigation--breadcrumb.bg-grey-lighter
              div.container
                div.row
                  a(href="/community") St. Louis City Continuum of Care
            div
              div.container
                div.row
                  div.col-md-1
                    img.img-circle.header__bug(src="http://www.fillmurray.com/66/66")
                  div.col-md-11
                    h1.header__title Organization Name
                    h2.header__subtitle.text-muted Organization Mission
            div.navigation--subnavigation.bg-grey-lighter
              div.container
                div.row
                  ul.nav.nav-pills
                    li.nav-item
                      a.nav-link(href="/organization", class=endpoint == '/' ? 'active' : '') Overview
                    li.nav-item
                      a.nav-link(href="/referral/all", class=endpoint == '/referral/all' ? 'active' : '') Service
                    li.nav-item
                      a.nav-link(href="/user/all", class=endpoint == '/user/all' ? 'active' : '') Providers
                    li.nav-item
                      a.nav-link(href="/client/all", class=endpoint == '/client/all' ? 'active' : '') Clients
        block content
          +l-section()
            h2 Organization Overview
    div#scripts
      script(src=`${staticPrefix}js/libraries.js`)
      script(src=`${staticPrefix}js/app.js`)
      block scripts
        script.
          Teresa.init()