extend ../layout

block vars
  - var endpoint = '/client'

block content
  +l-section()
    div.row
      div.col-md-4
        div.card.mb-3
          div.card-header
            div.row
              div.col-md-8
                h5.card-title.card-title--with-input Information
              div.col-md-4
                a.btn.btn-secondary.pull-right(href=`/client/update?id=${id}`)
                  span.fa.fa-edit 
                  |  Edit

          div.card-block
            label.text-capitalize=client.stage == 'ok' ? '' : client.stage
            h1=client.firstName+' '+client.lastName
            h3.text-muted=client.phone
            p=client.dob
            p=client.ssn
        
      div.col-md-8
        div.card.mb-3
          div.card-header
            div.row
              div.col-md-7
                h5.card-title.card-title--with-input Referrals
              div.col-md-5
                a.btn.btn-primary.pull-right(href=`/referrals/add?id=${id}`) New Referral
          div.card-block
            ul.list-group
              li.list-group-item
                p Service #1
              li.list-group-item
                p Service #1
              li.list-group-item
                p Service #1
              li.list-group-item
                p Service #1
              li.list-group-item
                p Service #1

        div.card
          div.card-header
            div.row
              div.col-md-7
                h5.card-title.card-title--with-input Services
              div.col-md-5
                a.btn.btn-primary.pull-right(href=`/service/add?id=${id}`) Add Service
          div.card-block
            ul.list-group
              li.list-group-item
                p Service #1
              li.list-group-item
                p Service #1
              li.list-group-item
                p Service #1
              li.list-group-item
                p Service #1
              li.list-group-item
                p Service #1