extend ../layout

block vars
  - var endpoint = '/client'

block content
  +l-section()
    div.row
      div.col-md-4
        div.card.mb-3
          div.card-header
            div.row
              div.col-md-8
                h5.card-title.card-title--with-input Information
              div.col-md-4
                a.btn.btn-secondary.pull-right(href=`/client/update?id=${client.id}`)
                  span.fa.fa-edit 
                  |  Edit

          div.card-block
            label.text-capitalize=client.stage == 'ok' ? '' : client.stage
            h1=client.firstName+' '+client.lastName
            h3.text-muted=client.phone
            p=client.dob
            p=client.ssn
        
      div.col-md-8
        div.card.mb-3
          div.card-header
            div.row
              div.col-md-7
                h5.card-title.card-title--with-input Referrals
              div.col-md-5
                a.btn.btn-primary.pull-right(href=`/referral/add?client=${client.id}`)
                  | New Referral 
                  span.fa.fa-arrow-right
          div.card-block
            ul.list-group
              each referral in referrals
                li.list-group-item
                  if referral.isComplete
                    label Completed
                  if referral.isConfirmed
                    label Confirmed
                  if referral.isReserved
                    label Reserved
                  if referral.isCanceled
                    label Canceled
                  p=moment(referral.createdAt).format('MM/DD')
                  if referral.service
                    p=referral.service.name
                  if referral.referee
                    p=referral.referee.name