extend ../layout

block vars
  - var endpoint = '/client'

block content
  +l-section()
    div.row
      div.col-md-4
        div.card.mb-3
          div.card-header
            div.row
              div.col-md-8
                h5.card-title.card-title--with-input Information
              div.col-md-4
                a.btn.btn-secondary.pull-right(href=`/client/update?id=${client.id}`)
                  span.fa.fa-edit 
                  |  Edit

          div.card-block
            label.text-capitalize=client.stage == 'ok' ? '' : client.stage
            h1=client.firstName+' '+client.lastName
            h3.text-muted=client.phone
            p=client.dob
            p=client.ssn
        
      div.col-md-8
        div.card.mb-3
          div.card-header
            h5.card-title.card-title--with-input Referrals
          div.card-block
            ul.list-group
              each referral in referrals
                li.list-group-item
                  p=moment(referral.createdAt).format('MM/DD')
                  p=referral.service.name
                  p=referral.referee.name